table {
 
    width: 100%;
  }
  
  mat-header-cell, mat-cell {
    justify-content: center;
  }

  mat-header-cell{
    background-color: rgb(232, 224, 224) !important;
  }

  .mat-card {
  width: 75%;
  margin: auto;
}

button{
    font-size: 18pt !important;
}