@use "@angular/material" as mat;

@include mat.core();

$euromelanoma_front-primary: mat.define-palette(mat.$indigo-palette);
$euromelanoma_front-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

$euromelanoma_front-warn: mat.define-palette(mat.$red-palette);

$euromelanoma_front-theme: mat.define-light-theme(
  (
    color: (
      primary: $euromelanoma_front-primary,
      accent: $euromelanoma_front-accent,
      warn: $euromelanoma_front-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($euromelanoma_front-theme);
