<div class="reset-password-container">
  <div class="reset-password-form">
    <h2>Resetuj lozinku</h2>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Nova lozinka</mat-label>
        <input matInput [formControl]="newPassword" type="password" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Potvrdi novu lozinku</mat-label>
        <input matInput [formControl]="confirmPassword" type="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit"  style="background-color:#023162 ;">Resetuj lozinku</button>
    </form>
  </div>
</div>
