################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/8582e7bf-c2a6-4204-807a-b44c6b50582f.vsidx
