################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/8582e7bf-c2a6-4204-807a-b44c6b50582f.vsidx
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/efpt.config.json
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/JWT.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/LinqKit.Core.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/LinqKit.Microsoft.EntityFrameworkCore.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.Extensions.Identity.Core.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Newtonsoft.Json.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/System.Net.Http.Extensions.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/System.Net.Http.Formatting.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/System.Net.Http.Primitives.dll
