################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/8582e7bf-c2a6-4204-807a-b44c6b50582f.vsidx
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/efpt.config.json
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/JWT.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/LinqKit.Core.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/LinqKit.Microsoft.EntityFrameworkCore.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.Extensions.Identity.Core.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/Newtonsoft.Json.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/System.Net.Http.Extensions.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/System.Net.Http.Formatting.dll
/euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/System.Net.Http.Primitives.dll
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/034f7b88-7ded-4274-8de6-e317f2c2e737.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/87115174-99c3-4e8a-9ac9-4e9da5533f58.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/8e6c0809-28cb-42d7-aa28-e6006f8d10b6.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/f025138b-0042-4105-b07b-f344e4125b28.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/6da74457-d1be-4f5b-bb7e-072b69755ffb.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/1e21c64a-3f4a-4fe2-ac76-ac3ccc7bd6b5.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/2289e152-d36f-47bc-a4fd-3b7cb547c036.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/aa4506d5-4167-4c0d-980c-4d015f7d3a95.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/1d3a33dc-7260-4cfd-aac0-9b458294de6b.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/4d6f766e-93a3-4596-bbad-6a6c80b56be5.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/8f993eb1-b82c-4b6c-98d6-e4ed2fc154bc.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/9946ed17-5351-4780-9ede-4d145ccfe257.vsidx
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/901793f9-600d-4a7a-bb20-d39fbfdf42d0.vsidx
euromelanoma_api/.vs/euromelanoma_api/DesignTimeBuild/.dtbcache.v2
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/a64547d8-9748-458f-abe6-88dde116e2ea.vsidx
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/aa381375-b7bc-4dc4-9ef6-261f5fe1d8ff.vsidx
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/bb69d66c-c477-4b81-a431-5ede73d96c85.vsidx
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/dc4841f8-dd44-4a06-bd26-58fafc59b649.vsidx
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/e2a2876f-0a2d-4583-80c8-feaf2e1f43dc.vsidx
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/ff869b5f-4f36-4d87-8dd7-9770577966b2.vsidx
euromelanoma_api/.vs/euromelanoma_api/v17/.futdcache.v2
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/euromelanoma_api.AssemblyInfo.cs
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/euromelanoma_api.AssemblyInfoInputs.cache
euromelanoma_api/.vs/euromelanoma_api/DesignTimeBuild/.dtbcache.v2
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/4cf35979-8770-4bd8-92c4-d666fa19e009.vsidx
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/3399fa4d-917c-4da1-9bfa-3e864897aa0f.vsidx
euromelanoma_api/.vs/euromelanoma_api/v17/.suo
euromelanoma_api/.vs/euromelanoma_api/v17/DocumentLayout.backup.json
euromelanoma_api/.vs/euromelanoma_api/v17/DocumentLayout.json
euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/euromelanoma_api.dll
euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/euromelanoma_api.exe
euromelanoma_api/euromelanoma_api/bin/Debug/net8.0/euromelanoma_api.pdb
euromelanoma_api/euromelanoma_api/Controllers/DoctorController.cs
euromelanoma_api/euromelanoma_api/Managers/DoctorManager.cs
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/ApiEndpoints.json
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/apphost.exe
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/euromelanoma_api.AssemblyInfo.cs
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/euromelanoma_api.AssemblyInfoInputs.cache
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/euromelanoma_api.dll
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/euromelanoma_api.pdb
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/euromelanoma_api.sourcelink.json
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/ref/euromelanoma_api.dll
euromelanoma_api/euromelanoma_api/obj/Debug/net8.0/refint/euromelanoma_api.dll
euromelanoma_api/.vs/euromelanoma_api/DesignTimeBuild/.dtbcache.v2
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/3fd1630f-f891-4907-8ff3-678e72ee2e19.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/57dd03a1-3db0-4fe8-954b-ab6aee3f04fe.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/ec46de9e-e7d3-4ac5-b299-86ca4e7b8530.vsidx
/euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/ff9a5c00-fc3e-4510-817e-8d8b82b2f20c.vsidx
euromelanoma_api/.vs/euromelanoma_api/DesignTimeBuild/.dtbcache.v2
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/e997f4e3-043e-4229-ada5-afec3a2440a1.vsidx
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/f57b3bbd-7a6d-483c-9399-5f2941f07983.vsidx
euromelanoma_api/.vs/euromelanoma_api/FileContentIndex/f800ba1b-cb04-4fbc-9362-b09c1162ff41.vsidx
euromelanoma_api/.vs/euromelanoma_api/v17/.futdcache.v2
euromelanoma_api/.vs/euromelanoma_api/v17/.suo
