/* General Styles */
.navbar {
    padding: 0;
    border-bottom: 1px solid rgba(0, 112, 192, 0.5);
    background-color: #fff;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(103vh - 50px);
    width: 30%;
    margin: auto;
    background-image: url('../../../assets/images/register.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.registration-content {
    display: flex;
    width: 100%;
    max-width: 900px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
height: 680px;
}
/* 
.registration-image {
    flex: 1;
    background-image: url('../../../assets/images/registration.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px 0 0 10px;
    position: relative;
} */

.registration-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.registration-box {
    flex: 1;
    padding: 20px;
}

.registration-header {
    text-align: center;
    margin-bottom: 20px;
}

.registration-header h2 {
    font-size: 24px;
    font-weight: bold;
}

.registration-header p {
    font-size: 16px;
    color: #6c757d;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    position: absolute;
    top: -11px;
    left: 10px;
    transition: 0.3s;
}

.input-group input {
    height: 45px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-top:10px
}

.input-group input:focus,
.input-group input:valid {
    border-color: #007bff;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #007bff;
}

.input-wrapper {
    position: relative;
}

.input-wrapper i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.registration-button {
    border: none;
    outline: none;
    height: 45px;
    background: #007bff;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
     /* Aligns the button to the right */
  margin-top: auto;
    
}

.registration-button:hover {
    background: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
