  
  <div class="registration-container">
    <div class="registration-content">
      <div class="registration-box">
        <div class="col-sm-6" style=" position : relative;">
            <div style="  
            /* set the the position of the helper container into the middle of its space */
          margin-top:  130px;
           ">
            <div class="registration-header">
                <h2>Registrujte se</h2>
                <p>Popunite polja da biste kreirali novi nalog.</p>
              </div>
<img src="../../../assets/images/register_2.jpg" alt="" style="width: 100%;
height: 300px;
object-fit: cover;">
</div>
        </div>
        <div class="col-sm-6">

              <form class="registration-form" style=" margin-top:  50px;">
                  <mat-form-field>
                      <mat-label>Označite da li ste pacijent ili doktor</mat-label>
                      <mat-select  [formControl]="userType">
                     
                          <mat-option value="Patient">Pacijent</mat-option>
                          <mat-option value="Doctor">Doktor</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Korisničko ime</mat-label>
                      <input type="text" matInput id="username" placeholder="Unesite korisničko ime" [formControl]="username" required>
                      </mat-form-field>
                  <mat-form-field class="example-full-width">
                  <mat-label>Ime</mat-label>
                  <input type="text" matInput id="firstName" placeholder="Unesite ime" [formControl]="firstName" required>
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Prezime</mat-label>
                  <input type="text" matInput id="lastName" placeholder="Unesite prezime" [formControl]="lastName" required>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
      
                      <mat-label>Email</mat-label>
                  <input type="email" id="email"  ngModel [email]="true" matInput  placeholder="Unesite email" [formControl]="email" required>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" *ngIf="this.userType.value=='patient'">
                          <mat-label>Lozinka</mat-label>
                  <div class="input-wrapper">
                    <input matInput  [type]="hide1 ? 'password' : 'text'" id="password" [formControl]="password" required placeholder="Unesite lozinku">
                    <i class="bi bi-eye-slash" id="togglePassword" (click)="toggleShow(1)"></i>
                  </div>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" *ngIf="this.userType.value=='patient'">
                          <mat-label>Potvrdite lozinku</mat-label>
                  <div class="input-wrapper">
                    <input matInput [type]="hide2 ? 'password' : 'text'" id="confirmPassword" [formControl]="confirmPassword" required placeholder="Potvrdite lozinku">
                    <i class="bi bi-eye-slash" id="toggleConfirmPassword" (click)="toggleShow(2)"></i>
                  </div>
                      </mat-form-field>
                <button type="submit" class="registration-button" (click)="onSubmit()">Registrujte se</button>
                <div class="login-link">
                  <p>Već imate nalog? <a href="#">Prijavite se</a>
          
                </p>
                </div>
              </form>
        </div>
  
      </div>
    </div>
  </div>
  