    <div class="login-container">
        <div class="login-content">
            <div class="login-image">

                <img src="../../../assets/images/login.png" alt="" > 
            </div>
            <div class="login-box">
                <div class="login-header">
                    <h2>Dobro došli nazad!</h2>
                    <p>Prijavite se na svoj nalog.</p>
                </div>
                <form class="login-form">
                    <div class="input-group">
                        <label for="username">Korisničko ime</label>
                        <input type="text" placeholder="Unesite korisničko ime" [formControl]="username" id="username" required>
                    </div>
                    <div class="input-group">
                      <label for="password">Lozinka</label>
                      <div class="input-wrapper">
                          <input [type]="hide ? 'password' : 'text'" id="password" [formControl]="password" required placeholder="Unesite lozinku"/>
                          <i class="bi bi-eye-slash" id="togglePassword" (click)="toggleShow()"></i>
                      </div>
                  </div>
                    <div class="options" style=" margin-top: 10px;">
                        <a href="forgot-password" class="forgot-password">Zaboravili ste lozinku?</a>
                    </div>
                    <button type="submit" class="login-button" (click)="onSubmit()">Ulogujte se</button>
                    <div class="signup-link">
                        <p>Nemate nalog? <a href="register">Registrujte se</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
