USE [master];
GO
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'EUROMELANOMA')
BEGIN
    CREATE DATABASE EUROMELANOMA;
END
GO
GO

USE [EUROMELANOMA];
GO

IF NOT EXISTS (SELECT 1 FROM sys.server_principals WHERE name = 'AntonijaUser')
BEGIN
    CREATE LOGIN [AntonijaUser] WITH PASSWORD = 'YourStrong@Password123';
END
GO

-- Kreiraj usera u ovoj bazi
CREATE USER [AntonijaUser] FOR LOGIN [AntonijaUser] WITH DEFAULT_SCHEMA=[dbo];
GO

-- Daj mu db_owner
ALTER ROLE [db_owner] ADD MEMBER [AntonijaUser];
GO
/****** Object:  Table [dbo].[AvailableSlots]    Script Date: 9/17/2025 12:44:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailableSlots](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[MaxPatients] [int] NOT NULL,
	[CityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_notes]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_notes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[questionnaireID] [int] NOT NULL,
	[patient_purpose] [nvarchar](100) NOT NULL,
	[family_history_melanoma] [nvarchar](100) NOT NULL,
	[family_history_non_melanoma] [nvarchar](100) NOT NULL,
	[personal_history_melanoma] [nvarchar](100) NOT NULL,
	[melanoma_count] [int] NULL,
	[personal_history_carcinoma] [nvarchar](100) NOT NULL,
	[bcc_count] [int] NULL,
	[scc_count] [int] NULL,
	[other_carcinoma_description] [nvarchar](max) NOT NULL,
	[skin_examination_today] [nvarchar](100) NOT NULL,
	[dermoscopy_performed] [bit] NOT NULL,
	[nevus_count] [nvarchar](50) NULL,
	[more_than_twenty_nevus_on_hands] [bit] NOT NULL,
	[atypical_nevi_presence] [bit] NOT NULL,
	[atypical_nevi_count] [int] NULL,
	[congenital_nevi_medium_size] [bit] NOT NULL,
	[congenital_nevi_medium_location] [nvarchar](max) NULL,
	[congenital_nevi_giant_size] [bit] NOT NULL,
	[congenital_nevi_giant_location] [nvarchar](max) NULL,
	[solar_lentigo] [bit] NOT NULL,
	[suspicious_melanoma] [bit] NOT NULL,
	[suspicious_melanoma_count] [int] NULL,
	[melanoma_detected_by] [nvarchar](100) NOT NULL,
	[suspicious_bcc] [bit] NOT NULL,
	[suspicious_bcc_count] [int] NULL,
	[bcc_detected_by] [nvarchar](100) NOT NULL,
	[suspicious_scc] [bit] NOT NULL,
	[suspicious_scc_count] [int] NULL,
	[scc_detected_by] [nvarchar](100) NOT NULL,
	[actinic_keratosis] [bit] NOT NULL,
	[actinic_keratosis_number] [nvarchar](5) NULL,
	[actinic_keratosis_count] [int] NULL,
	[actinic_keratosis_detected_by] [nvarchar](100) NOT NULL,
	[other_lesions] [bit] NOT NULL,
	[other_lesions_description] [nvarchar](max) NULL,
	[hematological_decease] [bit] NOT NULL,
	[hiv_decease] [bit] NOT NULL,
	[other_immunosuppresion] [bit] NOT NULL,
	[other_immunosuppresion_reason] [nvarchar](max) NULL,
	[other_deceases] [bit] NOT NULL,
	[other_deceases_name] [nvarchar](max) NULL,
	[smoking] [bit] NOT NULL,
	[ex_smoker] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorPrivileges]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorPrivileges](
	[DoctorId] [int] NOT NULL,
	[PrivilegeLevel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC,
	[PrivilegeLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[TokenId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](256) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionnaireDataPatient]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionnaireDataPatient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[questionnaireID] [int] NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[birth_year] [int] NOT NULL,
	[birth_place] [nvarchar](100) NOT NULL,
	[residence] [nvarchar](100) NOT NULL,
	[weight] [decimal](5, 2) NOT NULL,
	[height] [decimal](5, 2) NOT NULL,
	[ethnicity] [nvarchar](50) NOT NULL,
	[other_ethnicity] [nvarchar](100) NULL,
	[education_level] [nvarchar](50) NOT NULL,
	[living_alone] [nvarchar](50) NOT NULL,
	[reason_exam] [nvarchar](200) NOT NULL,
	[full_body_check_done] [nvarchar](50) NOT NULL,
	[hair_color] [nvarchar](50) NOT NULL,
	[how_much_freckles] [nvarchar](100) NOT NULL,
	[sun_reaction] [nvarchar](100) NOT NULL,
	[SunExposureFromAge0to12] [nvarchar](max) NOT NULL,
	[SunExposureFromAge13to19] [nvarchar](max) NOT NULL,
	[SunExposureFromAge20to40] [nvarchar](max) NOT NULL,
	[SunExposureFromAge40to60] [nvarchar](max) NOT NULL,
	[SunExposureFromAge60to80] [nvarchar](max) NOT NULL,
	[SunExposureAfterAge80] [nvarchar](max) NOT NULL,
	[tanning_exposure] [nvarchar](100) NOT NULL,
	[sunny_country_exposure] [nvarchar](50) NOT NULL,
	[years_before_18] [int] NULL,
	[location_before_18] [nvarchar](100) NULL,
	[years_after_18] [int] NULL,
	[location_after_18] [nvarchar](100) NULL,
	[used_solarium] [nvarchar](50) NOT NULL,
	[total_visits] [int] NULL,
	[first_visit_age] [int] NULL,
	[last_visit_age] [int] NULL,
	[had_childhood_burns] [nvarchar](100) NOT NULL,
	[had_adolescence_burns] [nvarchar](100) NOT NULL,
	[had_burns_between_20_40] [nvarchar](100) NOT NULL,
	[had_burns_between_40_60] [nvarchar](100) NOT NULL,
	[had_burns_between_60_80] [nvarchar](100) NOT NULL,
	[had_burns_after_80] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questionnaires]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questionnaires](
	[QuestionnaireID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NULL,
	[Score] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[Consent] [bit] NOT NULL,
	[CompleteDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionnaireID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduledAppointments]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduledAppointments](
	[ScheduledAppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[SlotID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[CityID] [int] NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduledAppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRequests]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRequests](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [varbinary](500) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AvailableSlots] ON 

INSERT [dbo].[AvailableSlots] ([SlotID], [DoctorID], [StartTime], [EndTime], [MaxPatients], [CityID]) VALUES (1, 1009, CAST(N'2024-09-10T12:00:00.000' AS DateTime), CAST(N'2024-09-10T12:30:00.000' AS DateTime), 3, 1)
INSERT [dbo].[AvailableSlots] ([SlotID], [DoctorID], [StartTime], [EndTime], [MaxPatients], [CityID]) VALUES (2, 1011, CAST(N'2024-09-10T13:00:00.000' AS DateTime), CAST(N'2024-09-10T13:30:00.000' AS DateTime), 2, 2)
INSERT [dbo].[AvailableSlots] ([SlotID], [DoctorID], [StartTime], [EndTime], [MaxPatients], [CityID]) VALUES (3, 1009, CAST(N'2024-09-11T09:00:00.000' AS DateTime), CAST(N'2024-09-11T09:30:00.000' AS DateTime), 4, 3)
SET IDENTITY_INSERT [dbo].[AvailableSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityID], [Name], [Country]) VALUES (1, N'Valjevo', N'Serbia')
INSERT [dbo].[Cities] ([CityID], [Name], [Country]) VALUES (2, N'Beograd', N'Serbia')
INSERT [dbo].[Cities] ([CityID], [Name], [Country]) VALUES (3, N'Novi Sad', N'Serbia')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[doctor_notes] ON 

SET IDENTITY_INSERT [dbo].[doctor_notes] OFF
GO
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] ON 

INSERT [dbo].[PasswordResetTokens] ([TokenId], [UserId], [Token], [ExpiryDate]) VALUES (1, 1014, N'b831fef7-fde6-418d-bd7b-aeb8dd428ce6', CAST(N'2024-09-09T20:50:54.877' AS DateTime))
INSERT [dbo].[PasswordResetTokens] ([TokenId], [UserId], [Token], [ExpiryDate]) VALUES (2, 1014, N'efa1f83a-98ce-41f9-b4f7-9ac430898ede', CAST(N'2024-09-09T20:53:27.667' AS DateTime))
INSERT [dbo].[PasswordResetTokens] ([TokenId], [UserId], [Token], [ExpiryDate]) VALUES (3, 1014, N'ee949df8-4d92-4a53-b0ac-09dc81bfb1bf', CAST(N'2024-09-09T20:56:24.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[PasswordResetTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionnaireDataPatient] ON 

SET IDENTITY_INSERT [dbo].[QuestionnaireDataPatient] OFF
GO
SET IDENTITY_INSERT [dbo].[Questionnaires] ON 

INSERT [dbo].[Questionnaires] ([QuestionnaireID], [PatientID], [DoctorID], [Score], [CreatedAt], [Consent], [CompleteDate]) VALUES (1, 1, 3, 30, CAST(N'2024-09-08T19:58:43.253' AS DateTime), 1, NULL)
INSERT [dbo].[Questionnaires] ([QuestionnaireID], [PatientID], [DoctorID], [Score], [CreatedAt], [Consent], [CompleteDate]) VALUES (2, 2, 3, 30, CAST(N'2024-09-08T21:08:32.840' AS DateTime), 1, CAST(N'2025-08-28T01:23:53.790' AS DateTime))
INSERT [dbo].[Questionnaires] ([QuestionnaireID], [PatientID], [DoctorID], [Score], [CreatedAt], [Consent], [CompleteDate]) VALUES (3, 1, 3, 30, CAST(N'2025-06-08T19:58:43.253' AS DateTime), 1, CAST(N'2025-09-12T00:25:48.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[Questionnaires] OFF
GO
SET IDENTITY_INSERT [dbo].[ScheduledAppointments] ON 

INSERT [dbo].[ScheduledAppointments] ([ScheduledAppointmentID], [SlotID], [PatientID], [Status], [PhoneNumber], [CityID], [StartTime], [EndTime]) VALUES (9, 2, 2, N'Finished', N'0600215554', 2, CAST(N'2024-09-10T13:00:00.000' AS DateTime), CAST(N'2024-09-10T13:15:00.000' AS DateTime))
INSERT [dbo].[ScheduledAppointments] ([ScheduledAppointmentID], [SlotID], [PatientID], [Status], [PhoneNumber], [CityID], [StartTime], [EndTime]) VALUES (10, 1, 4, N'Finished', N'0600235533', 1, CAST(N'2024-09-10T12:00:00.000' AS DateTime), CAST(N'2024-09-10T12:10:00.000' AS DateTime))
INSERT [dbo].[ScheduledAppointments] ([ScheduledAppointmentID], [SlotID], [PatientID], [Status], [PhoneNumber], [CityID], [StartTime], [EndTime]) VALUES (13, 4, 2, N'Finished', N'0620091122', 4, CAST(N'2024-09-12T10:00:00.000' AS DateTime), CAST(N'2024-09-12T10:06:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ScheduledAppointments] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRequests] ON 

INSERT [dbo].[UserRequests] ([UserID], [FirstName], [LastName], [Email], [Username], [Status]) VALUES (5, N'Jelica', N'Ješić', N'jelica@gmail.com', N'jelica', N'Pending')
INSERT [dbo].[UserRequests] ([UserID], [FirstName], [LastName], [Email], [Username], [Status]) VALUES (6, N'Jelica', N'Jovanović', N'jelicajovanovic@gmail.com', N'jelica', N'Pending')
SET IDENTITY_INSERT [dbo].[UserRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [FirstName], [LastName], [Email], [PasswordHash], [UserType]) VALUES (1, N'milos', N'Miloš', N'Petrović', N'milos.petrovic@gmail.com', 0x1B76ED060FAD60C45B2A48CAC209F85796658A4478D8CDD92C20171C926F328DC464A82098B1200EEFBC8D5F5F948935A84C44880B994E5A54C3FE4E5AD9A1C5, N'Patient')
INSERT [dbo].[Users] ([UserID], [Username], [FirstName], [LastName], [Email], [PasswordHash], [UserType]) VALUES (2, N'anci', N'Ana', N'Jovanović', N'ana.jovanovic@gmail.com', 0x1B76ED060FAD60C45B2A48CAC209F85796658A4478D8CDD92C20171C926F328DC464A82098B1200EEFBC8D5F5F948935A84C44880B994E5A54C3FE4E5AD9A1C5, N'Patient')
INSERT [dbo].[Users] ([UserID], [Username], [FirstName], [LastName], [Email], [PasswordHash], [UserType]) VALUES (3, N'jelena01', N'Jelena', N'Nikolić', N'jelena.nikolic@gmail.com', 0x1B76ED060FAD60C45B2A48CAC209F85796658A4478D8CDD92C20171C926F328DC464A82098B1200EEFBC8D5F5F948935A84C44880B994E5A54C3FE4E5AD9A1C5, N'Doctor')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserRequ__A9D10534A27B5C8C]    Script Date: 9/17/2025 12:44:03 AM ******/
ALTER TABLE [dbo].[UserRequests] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534A1DB9EBD]    Script Date: 9/17/2025 12:44:03 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Questionnaires] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AvailableSlots]  WITH CHECK ADD  CONSTRAINT [FK_AvailableSlots_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[AvailableSlots] CHECK CONSTRAINT [FK_AvailableSlots_City]
GO
ALTER TABLE [dbo].[AvailableSlots]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSlot] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AvailableSlots] CHECK CONSTRAINT [FK_DoctorSlot]
GO
ALTER TABLE [dbo].[doctor_notes]  WITH CHECK ADD FOREIGN KEY([questionnaireID])
REFERENCES [dbo].[Questionnaires] ([QuestionnaireID])
GO
ALTER TABLE [dbo].[DoctorPrivileges]  WITH CHECK ADD  CONSTRAINT [FK_DoctorPrivileges] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorPrivileges] CHECK CONSTRAINT [FK_DoctorPrivileges]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[QuestionnaireDataPatient]  WITH CHECK ADD FOREIGN KEY([questionnaireID])
REFERENCES [dbo].[Questionnaires] ([QuestionnaireID])
GO
ALTER TABLE [dbo].[ScheduledAppointments]  WITH CHECK ADD  CONSTRAINT [FK_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ScheduledAppointments] CHECK CONSTRAINT [FK_Patient]
GO
ALTER TABLE [dbo].[ScheduledAppointments]  WITH CHECK ADD  CONSTRAINT [FK_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[AvailableSlots] ([SlotID])
GO
ALTER TABLE [dbo].[ScheduledAppointments] CHECK CONSTRAINT [FK_Slot]
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableSlots]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[GetAvailableSlots]
    @CityID INT
AS
BEGIN
    SELECT top 1
        s.SlotID
    FROM 
        AvailableSlots s
    LEFT JOIN 
        ScheduledAppointments sa ON s.SlotID = sa.SlotID
    WHERE 
        s.CityID = @CityID
    GROUP BY 
        s.SlotID, s.DoctorID, s.CityID, s.StartTime, s.EndTime, s.MaxPatients
    HAVING 
        (s.MaxPatients - COUNT(sa.ScheduledAppointmentID)) > 0 -- Samo slobodni termini
	ORDER BY 
        s.StartTime ASC; 
END;
GO
/****** Object:  StoredProcedure [dbo].[SchedulePatientAppointment]    Script Date: 9/17/2025 12:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SchedulePatientAppointment]
    @PatientID INT,
    @PhoneNumber NVARCHAR(15),
    @CityID INT
AS
BEGIN
    set fmtonly off
    declare @slotId int = -1
    declare @currentPatients int = 0
    declare @maxPatients int = 0
    declare @startTime DATETIME = NULL
    declare @endTime DATETIME = NULL
    declare @slotStartTime DATETIME = NULL
    declare @slotEndTime DATETIME = NULL
    declare @appointmentDuration INT = 0  -- Trajanje pregleda u minutima

    -- Dobijamo slotId iz dostupnih slotova
    create table #slotId(slotid int null)
    INSERT INTO #slotId exec GetAvailableSlots @CityID

    set @slotId = (select slotid from #slotid)

    -- Provera da li slot postoji
    if (@slotId is null)
    begin
        select 'Nema slobodnih termina.' as Poruka, 0 as Status, -1 as id;
        drop table #slotid
        return;
    end

    -- Proveravamo koliko pacijenata je već zakazano za taj slot
    select @currentPatients = COUNT(*)
    from ScheduledAppointments
    where SlotID = @slotId;

    -- Proveravamo maksimalan broj pacijenata po slotu i uzimamo vreme slota
    select @maxPatients = MaxPatients, @slotStartTime = StartTime, @slotEndTime = EndTime
    from AvailableSlots
    where SlotID = @slotId;

    -- Ako je slot popunjen, vraćamo poruku
    if (@currentPatients >= @maxPatients)
    begin
        select 'Slot je popunjen.' as Poruka, 0 as Status, -1 as id;
        drop table #slotid
        return;
    end

    -- Proračun trajanja pregleda na osnovu vremena slota i broja pacijenata
    set @appointmentDuration = DATEDIFF(MINUTE, @slotStartTime, @slotEndTime) / @maxPatients;

    -- Ako već ima zakazanih pacijenata, uzimamo poslednje EndTime
    if @currentPatients > 0
    begin
        select @startTime = MAX(EndTime)
        from ScheduledAppointments
        where SlotID = @slotId;
    end
    else
    begin
        -- Ako je prvi pacijent, uzimamo StartTime iz AvailableSlots
        set @startTime = @slotStartTime;
    end

    -- Postavljamo EndTime za novog pacijenta
    set @endTime = DATEADD(MINUTE, @appointmentDuration, @startTime);

    -- Zakazivanje novog pacijenta
    INSERT INTO ScheduledAppointments (SlotID, PatientID, Status, StartTime, EndTime, PhoneNumber, CityID)
    VALUES (@slotId, @PatientID, 'Scheduled', @startTime, @endTime, @PhoneNumber, @CityID);

	declare @id int=(select max(ScheduledAppointmentID) from ScheduledAppointments)
	
    drop table #slotid

    -- Potvrda o uspešnom zakazivanju
    select N'Pregled uspešno zakazan!' as Poruka, 1 as Status, @id as id ;
END;  

GO
USE [master]
GO
