table {
 
    width: 100%;
  }
  
  mat-header-cell, mat-cell {
    justify-content: center;
  }

  mat-header-cell{
    background-color: rgb(232, 224, 224) !important;
  }

  .mat-card {
  width: 75%;
  margin: auto;
}


button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #ddd;
  }
  button:focus {
    outline:none;
    
  }

