<div class="forgot-password-container">
    <div class="forgot-password-form">
      <h2>Zaboravljena lozinka</h2>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" name="email" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" style="background-color:#023162 ;">Pošalji link za resetovanje</button>
      </form>
    </div>
  </div>
  