/* Dodajte ovaj CSS u vaš fajl stilova (npr. reset-password.component.css) */

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Visina cele stranice */
    background-color: #f4f4f9; /* Svetla pozadina */
  }
  
  .forgot-password-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Maksimalna širina forme */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    width: 100%;
  }
  