<!-- home.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light modern-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/images/euromelanoma-logo.svg"
        alt="Euromelanoma"
        id="navbarlogo"
        class="navbar-logo"
      />
    </a>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <!-- Admin Tabs -->
      <div class="navbar-nav me-auto w-100" *ngIf="user.userType === 'Admin'">
        <mat-tab-group
          class="admin-tabs"
          [(selectedIndex)]="selectedTabIndex"
          (selectedTabChange)="onTabChange($event)"
        >
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>people</mat-icon>
              <span class="tab-text">Pregled pacijenata</span>
            </ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>location_city</mat-icon>
              <span class="tab-text">Pacijenti po gradovima</span>
            </ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>schedule</mat-icon>
              <span class="tab-text">Dodaj termine</span>
            </ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>person_add</mat-icon>
              <span class="tab-text">Zahtevi za registraciju</span>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="navbar-nav ms-auto">
        <button
          type="button"
          class="btn btn-primary"
          (click)="logout()"
          style="
            font-family: inherit;
            color: #000035;
            background-color: #ffffff;
            border: 0;
            font-size: 12pt;
          "
          mat-raised-button
          matTooltip="Odjavite se"
        >
          <i
            class="bi bi-box-arrow-right"
            style="background-color: #ffffff"
          ></i>
        </button>
      </div>
    </div>
  </div>
</nav>

<main class="main-content">
  <app-patient *ngIf="user.userType === 'Patient'"></app-patient>
  <app-doctor *ngIf="user.userType === 'Doctor'"></app-doctor>
  <app-admin
    *ngIf="user.userType === 'Admin'"
    [selectedTab]="selectedTabIndex"
  ></app-admin>
</main>

<footer class="modern-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <img
          src="../../../assets/images/euromelanoma-logo.svg"
          alt="Euromelanoma"
          class="footer-logo-img"
        />
      </div>
      <div class="footer-text">
        <p>&copy; 2024 Euromelanoma Portal. Sva prava zadržana.</p>
        <p class="footer-subtitle">
          Prevencija melanoma kroz digitalnu zdravstvenu negu
        </p>
      </div>
      <div class="footer-links">
        <a href="about-us" class="footer-link">O nama</a>
      </div>
    </div>
  </div>
</footer>
